.titulo{
    width: 100%;
    height: 8rem;
    box-sizing: border-box;
}

.info-mes{
    margin-top: 1rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--very-light-pink);
}

.info-mes h3{
    font-size: 40px;
}

.info-mes img{
    width: 50px;
    height: 35px;
    object-fit: cover;
    cursor: pointer;
    padding: 4px;
}

.flecha-izquierda{
    margin-left: 20rem;
}

.flecha-derecha{
    margin-right: 20rem;
}

.info-mes img:hover{
    border: 1px solid var(--very-light-pink);
}

.info{
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 8px;
    border-bottom: 1px solid var(--very-light-pink);
}

.info p{
    margin: 8px;
    font-size: 15px;
}

.info p:last-child{
    margin-right: 38rem;
}

.info p:nth-child(1){
    margin-left: 35rem;
    width: 4rem;
    height: 1rem;
    background-color: var(--hospital-green);
    border-radius: 10px;
}

.info p:nth-child(3){
    width: 4rem;
    height: 1rem;
    background-color: lightsteelblue;
    border-radius: 10px;
}

.dias{
    display: flex;
    justify-content: space-between;
    margin-top: .8rem;
}

.dias h3{
    text-align: center;
    width: 10rem;
    border-bottom: 1px solid var(--very-light-pink);
    border-radius: 10px;
}

.dias h3:first-child{
    margin-left: 19.5rem;
}

.dias h3:last-child{
    margin-right: 21rem;
}