:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
} 

.button-info{
    width: 16px;
    height: 12px;
    color: var(--black);
    border: 1px solid var(--very-light-pink);
    border-radius: 20%;
}

.button-info:hover{
    border: 1px solid var(--dark);
    color: var(--white);
}