.menu-servicios{
    margin-top: 8px;
}

.servicio{
    display: flex;
    width: 70%;
    margin: auto;
    padding: 14px;
    justify-content: space-between;
    border: .1rem solid var(--very-light-pink);
    border-radius: 20px;
}

.servicio:hover{
    border: 1px solid var(--hospital-green);
    background-color: var(--hospital-green);
}

.texto{
    display: flex;
}

.info-servicio{
    display: flex;
    align-items: center;
}

.info-servicio h3{
    color: var(--black);
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
}