.container-inventario{
    background-color: white !important;
}

.body-inventario{
    border-radius: 10px;
    background-color: aliceblue;
    height: 100%;
    padding: 20px;
}

thead th{
    background-color: rgba(0, 0, 0, 0.27) !important;
}