/* .container-inventario{
    height: 80vh;
} */

.body-inventario{
    border-radius: 10px;
    background-color: rgb(254, 166 , 10,1);
    height: 100%;
    padding: 20px;
}

thead th{
    background-color: rgba(0, 0, 0, 0.27) !important;
}